
body{
    height:1500px;
    width:100%;
    background-image: linear-gradient(to left top, #ea08cd, #ff0083, #ff6f36, #ffba00, #c6f310);
    margin:0px ;
    background-repeat: no-repeat;
}
.card{
    height: 400px;
    width: 330px;
    background-color: rgb(17, 243, 156);
    margin-top: 20px;
    margin-left: 20px;
    position: sticky;
    top:0px;
    overflow:scroll;
    overflow-x: hidden;

}
.n1{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: blueviolet;
    margin-left:170px ;
  position: absolute;
  top: 10px;
  color: white;
}
.im{
    height:600px;
    width:100%;
}

.im1{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 95px;
    margin-top: 30px;
}
.pr{
    text-align:justify;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(238, 59, 27);
}
p{
    font-size: 20px;
    color: white;
}